.CountDown {
  display: flex;
  justify-content: center;
  width: 100%;

  &-digit {
    padding: 9px 5px;
    font-size: 1.5rem;
    background-color: #eee;
    margin: 30px 5px;
    border-radius: 5px;
    font-weight: bolder;
  }

  &-split {
    padding: 9px 5px;
    font-size: 0.7rem;
    margin: 30px 5px;
  }
}
