.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  &-container {
    padding: 20% 24px;
  }

  &-header {
    align-items: center;
    background-image: url('https://svg-loaders.surge.sh/hero-privacyNano.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  &-claim {
    color: $c-white;
    font-size: $fz-xxl;
    font-weight: $fw-bold;
  }

  &-subclaim {
    color: darken($c-white, 25%);
    margin-top: $m-s;
  }

  &-children {
    padding: 0 $p-l;
  }


}
