.Home {
  display: flex;
  flex-direction: column;
  min-height: calc((100vh - 95px) - 28px);
  padding: 0px 20px;

  &-title {
    align-items: center;
    box-align: center;
    box-pack: center;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: 200;
    justify-content: center;
    color: rgb(12, 11, 11);
    margin-top: 20px;
    @media (min-width: 320px) {
        font-size: 15px;  
    }
    @media (min-width: 768px) {
      font-size: 32px;  
    }
  }
  &-section {
    align-items: center;
    box-align: center;
    box-pack: center;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
  }
}
@media (min-width: 320px) {
  .logo {
    width: 300px;
  }
}
@media (min-width: 768px) {
  .logo {
    width: 900px;
  }
} 
hr{
  margin-top: 10px;
  @media (min-width: 320px) {
    width: 70%;
  }
  @media (min-width: 768px) {
    width: 70%;
  }
} 
  
