.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $c-footer;
    margin-top: 36px;
    max-width: initial;
    padding: 34px 16px;
    width: 100%;

    &-links {
        display: flex;
      }
    
      &-link {
        color: #007bff;
        margin: 5px;
        text-decoration: none;
      }
    
      &-separator {
        margin: 5px;
      }
}